_site

# Created by http://www.gitignore.io

### vim ###
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

#no node modules please
node_modules/

### WebStorm ###
## Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm
#
### Directory-based project format
.idea/
*.ipr
*.iws
*.iml
