<footer class="column span-20" id="footer">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="column span-10" id="credits"><p>© Guru Ram Daas Trust 2014 <a rel="license" href="/copyright">some
        rights reserved. <img alt="Creative Commons License" style="border-width:0" src="/images/80x15.png"
                              pagespeed_url_hash="1703085619"/></a></p></div>

    <div class="column span-10" id="footermenu">
        <div class="moduletable">
            <div style='background-color:white;padding:5px;opacity:0.8'>
                <!-- Begin MailChimp Signup Form -->

                <div id="mc_embed_signup">
                    <form action="http://grdturs.us2.list-manage.com/subscribe/post?u=c9d4ce72aa67ad6fdece57140&amp;id=4b8b0112fe"
                          method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                          class="validate" target="_blank">
                        <label for="mce-EMAIL"> Subscribe to our FREE mailing list for info and updates on classes,
                            workshops and sessions </label>
                        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL"
                               placeholder="email address" required>

                        <div class="clear"><input type="submit" value="Subscribe" name="subscribe"
                                                  id="mc-embedded-subscribe" class="button"></div>
                    </form>

                    <!--End mc_embed_signup--></div>
            </div>
        </div>
    </div>
    <div class="wrap">
        <div class="footer-col-3 column">
            <p class="text">{{ site.description }}</p>
        </div>
    </div>
</footer>
