<head>
    <meta name="robots" content="index, follow"/>
    <meta name="keywords"
          content="Yoga meditation birmingham, KY Birmingham, Kundalini Yoga Birmingham"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="stylesheet" href="/css/main.min.css">
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    <meta name="rating" content="general"/>
    <meta name="revisit" content="7 days"/>
    <meta name="revisit-after" content="7 days"/>
    <meta name="Copyright" content="Copyleft Guru Ram Daas Trust, some rights reserved."/>
    <meta name="reply-to" content="{{ site.email }}"/>
</head>
