<head>
    <base href="http://www.grdtrust.org/"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="robots" content="index, follow"/>
    <meta name="keywords"
          content="Birmingham Sadhana, meditation birmingham, KY Birmingham, Kundalini Yoga Birmingham"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="stylesheet" href="/css/main.css">
    <title>{{site.title}}</title>
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    <meta name="rating" content="general"/>
    <meta name="revisit" content="7 days"/>
    <meta name="revisit-after" content="7 days"/>
    <meta name="Copyright" content="Copyleft Guru Ram Daas Trust Some rights reserved."/>
    <meta name="reply-to" content="{{site.email}}"/>
    <style type="text/css" media="all">
        .createdate {
            display: none
        }

        .modifydate {
            display: none
        }
    </style>
    <!-- <script type="text/javascript">var _gaq = _gaq || [];
     _gaq.push(['_setAccount', 'UA-10876132-1']);</script> -->
</head>
